// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use 'abstracts/variables';

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    background: variables.$secondary-color;

    &:hover {
        background: variables.$white;
    }
}