@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Default Card
2. Circle Card
3. Cast Card
4. Person Card
5. Show Card
6. Card Grid

*/

/*-------------------------------1. Default Card----*/
.card {
  max-width: 1000px;
  color: $white;

  @media (min-width: 800px) {
    display: flex;
  }
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
  padding: 1rem 0 1rem 1rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 1rem;
  z-index: 2;
  background: red;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -3rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skew(-10deg);
    background: $secondary-color;
  }
}

.card__title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

.card__text {
  margin-bottom: 1rem;
}

/*--------------------------------2. Circle Card----*/
.card-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  background: $white;
  color: $secondary-color;

  & h2 {
    margin-bottom: 0.5rem;
    font-size: 5rem;
  }

  & p {
    color: #232323;
  }
}

/*----------------------------------3. Cast Card----*/
.card-cast {
  display: flex;
  width: 100%;
  margin: 0.5rem 0;

  & img {
    display: block;
    width: 100%;
    max-width: 5rem;
    height: auto;
  }
}

.card-cast__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: 0 0.5rem;
  border-left: 5px solid $attention-color;
  background: linear-gradient($primary-color, $secondary-color);
  color: $white;
}

.card-name {
  margin-bottom: 0;
  text-align: center;
}

/*--------------------------------4. Person Card----*/
.card-person {
  display: flex;
  flex-direction: column;
  width: 100%;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.card-person__content {
  flex: 1;
  width: 100%;
  padding: 2rem;
  border-top: 5px solid $attention-color;
  background: linear-gradient($primary-color, $secondary-color);
  color: $white;

  & p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*----------------------------------5. Show Card----*/
.card-show {
  position: relative;
  width: 100%;
  padding: 5rem 1rem;
  border-bottom: 5px dotted $primary-color;
  border-right: 5px dotted $primary-color;
  color: $grey;

  & h3 {
    color: $secondary-color;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.card-show:nth-child(even) {
  border-left: 5px dotted $primary-color;
  border-right: none;

  &::before {
    left: -28px;
  }
}

.card-show:nth-child(odd) {
  text-align: right;

  &::before {
    right: -26px;
  }
}

.card-show:nth-child(1)::before {
  @include yearBubble("2010");
}

.card-show:nth-child(2)::before {
  @include yearBubble("2012");
}

.card-show:nth-child(3)::before {
  @include yearBubble("2013");
}

.card-show:nth-child(4)::before {
  @include yearBubble("2014");
}

.card-show:nth-child(5)::before {
  @include yearBubble("2014");
}

.card-show:nth-child(6)::before {
  @include yearBubble("2015");
}

.card-show:nth-child(7)::before {
  @include yearBubble("2016");
}

.card-show:nth-child(8)::before {
  @include yearBubble("2017");
}

.card-show:nth-child(9)::before {
  @include yearBubble("2018");
}

/*----------------------------------6. Card Grid----*/
.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  max-width: 1200px;
  margin: auto;
  color: $secondary-color;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
