/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Default Inner
2. Flex Inner

*/

/*------------------------------1. Default Inner----*/
.inner {
  max-width: 1000px;
}

/*---------------------------------2. Flex Inner----*/
.inner-flex {
  display: flex;
  flex-direction: column;
  max-width: 1000px;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}
