@use "../abstracts/variables" as *;

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Universal
2. Html
3. Body
4. Links

*/

/*----------------------------------1. Universal----*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*---------------------------------------2. Html----*/
html {
  box-sizing: border-box;
}

/*---------------------------------------3. Body----*/
body {
  color: $white;
}

/*--------------------------------------4. Links----*/
a {
  text-decoration: none;
  text-transform: uppercase;
  color: $secondary-color;
}
