/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Body
2. Headers
3. Paragraphs
4. Navbar Logo
5. Header Text

*/

/*---------------------------------------1. Body----*/
body {
    font-family: Roboto;
    font-size: 16px;
}

/*------------------------------------2. Headers----*/
h1 {
    font-family: RobotoBold;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header__h1 {
    @media (min-width: 500px) {
        font-size: 3.5rem;
    }
}

h2 {
    @extend h1;
    font-size: 2.5rem;
}

h3 {
    @extend h1;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/*---------------------------------3. Paragraphs----*/
p {
    line-height: 1.5rem;
}

/*--------------------------------4. Navbar Logo----*/
.logo-text {
    font-family: SheldonFeather;
    font-size: 3rem;
}

/*--------------------------------5. Header Text----*/
.header-text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}
