/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Colors

*/

/*-------------------------------------1. Colors----*/
$primary-color: #2daae2;
$secondary-color: #0f71ba;
$attention-color: #feec00;
$white: #ffffff;
$grey: #343434;
