// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$primary-color: #2daae2;
$secondary-color: #feec00;
$white: #000000;