// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use "abstracts/variables" as *;

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 1rem;
    background: $secondary-color;

    & a {
        color: $white;
    }
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2rem 0 0;
    padding: 0 2rem 0 0;
    border-right: 1px solid $white;
}

.site-map {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    & :last-child {
        margin-right: 0;
    }

    & :last-child::after {
        content: "";
        margin-left: 0;
    }
}

.footer__bottom {
    padding: 0.25rem 0;
}

.footer-item {
    margin-right: 1rem;

    &::after {
        content: "|";
        margin-left: 1rem;
    }
}

.footer-icons {
    margin-top: 0.25rem;
}

/*---------------------------------------------*/
@media (min-width: 600px) {
    footer {
        display: flex;
        justify-content: space-between;
    }
}
