// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts/variables" as *;

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 1rem;
  background: $secondary-color;

  & a {
    color: $white;
  }

  @media (min-width: 600px) {
    justify-content: space-between;
  }
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 2rem 0;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid $white;

  & div:first-child {
    margin-bottom: 1rem;
  }

  @media (min-width: 600px) {
    margin: 0 2rem 0 0;
    padding: 0 2rem 0 0;
    border-right: 1px solid $white;
    border-bottom: none;
  }
}

.footer__links {
  padding: 0.25rem 0;
}

.site-map {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  & li:last-child {
    margin-right: 0;
  }

  & li:last-child::after {
    content: "";
    margin-left: 0;
  }
}

.footer-item {
  margin-right: 1rem;

  & a {
    transition: color 0.25s linear;

    &:hover {
      color: $attention-color;
    }
  }

  &::after {
    content: "|";
    margin-left: 1rem;
  }
}

.footer-copyright {
  margin-bottom: 1rem;

  & a {
    text-transform: capitalize;
    color: $attention-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-icons {
  margin-top: 0.25rem;

  & a {
    margin-right: 0.5rem;
  }
}
