// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 64px);
    padding: 0 1rem;
    text-align: center;

    background: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)),
        url(../../images/header/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    & p {
        margin-bottom: 2rem;
    }
}

/*----------------------------------------------*/
.header-about {
    @include ColorHeader(
        linear-gradient(rgba(179, 169, 33, 0.6), rgba(179, 169, 33, 0.6)),
        url(../../images/header/about-header.jpg)
    );
}

/*----------------------------------------------*/
.header-productions {
    @include ColorHeader(
        linear-gradient(rgba(150, 33, 179, 0.6), rgba(150, 33, 179, 0.6)),
        url(../../images/header/productions-header.jpg)
    );
}

/*----------------------------------------------*/
.header-patrons {
    @include ColorHeader(
        linear-gradient(rgba(57, 179, 33, 0.6), rgba(57, 179, 33, 0.6)),
        url(../../images/header/patrons-header.jpg)
    );
}

/*----------------------------------------------*/
.header-volunteering {
    @include ColorHeader(
        linear-gradient(rgba(179, 33, 33, 0.6), rgba(179, 33, 33, 0.6)),
        url(../../images/header/volunteering-header.jpg)
    );
}

/*----------------------------------------------*/
.header-contact {
    @include ColorHeader(
        linear-gradient(rgba(33, 67, 179, 0.6), rgba(33, 67, 179, 0.6)),
        url(../../images/header/contact-header.jpg)
    );
}

/*----------------------------------------------*/
.header-production {
    width: 100%;

    & video {
        display: block;
        width: 100%;
        height: auto;
    }
}