@use "../abstracts/variables" as *;

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Coming Soon Section
2. Our Mission Section
3. Stats Section

*/

/*------------------------1. Coming Soon Section----*/
.coming-soon {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $secondary-color;

  @media (min-width: 500px) {
    flex-direction: row;
  }
}

.coming-soon__info {
  width: 100%;
  padding: 1rem;

  & p {
    margin-bottom: 1rem;
  }
}

.coming-soon__img {
  width: 100%;
  height: 200px;
  background-image: url(../../images/backgrounds/stats-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 500px) {
    height: auto;
  }
}

/*------------------------2. Our Mission Section----*/
.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 1rem;
  text-align: center;
  background: $primary-color;

  & p,
  ul {
    margin-bottom: 2rem;
  }

  & li {
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
}

/*------------------------------3. Stats Section----*/
.stats {
  width: 100%;
  padding: 5rem 1rem;

  background-image: linear-gradient(
      rgba(12, 12, 12, 0.6),
      rgba(12, 12, 12, 0.6)
    ),
    url(../../images/backgrounds/stats-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stats__top {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 2rem;

  @media (min-width: 500px) {
    justify-content: flex-start;
  }
}

.stats__middle {
  @extend .stats__top;

  @media (min-width: 500px) {
    justify-content: center;
  }
}

.stats__bottom {
  @extend .stats__top;
  margin-bottom: 0;

  @media (min-width: 500px) {
    justify-content: flex-end;
  }
}
