@use "abstracts/variables" as *;

.whats-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 1rem;
    color: $secondary-color;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    max-width: 1200px;
    padding-bottom: 3rem;
    color: $secondary-color;

    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1000px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 1rem;
    text-align: center;
    background: $primary-color;

    & p,
    ul {
        margin-bottom: 2rem;
    }

    & li {
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }
}

.stats {
    width: 100%;
    padding: 5rem 1rem;

    background-image: linear-gradient(
            rgba(12, 12, 12, 0.6),
            rgba(12, 12, 12, 0.6)
        ),
        url(../../images/header/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.stats__top {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 2rem;
}

.stats__middle {
    @extend .stats__top;
}

.stats__bottom {
    @extend .stats__top;
    margin-bottom: 0;
}

/*--------------------------------------------------*/
@media (min-width: 500px) {
    .stats__top {
        justify-content: flex-start;
    }

    .stats__middle {
        justify-content: center;
    }

    .stats__bottom {
        justify-content: flex-end;
    }
}
