@use "abstracts/variables" as *;

/*--------------------------------------------*/
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & a:hover {
    filter: grayscale(100%);
    transition: filter 0.25s ease;
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
