@use "../abstracts/variables" as *;

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Volunteers Section
2. Volunteering Info Section

*/

/*-------------------------1. Volunteers Section----*/
.volunteers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 1rem;
  color: $secondary-color;

  & h2 {
    text-align: center;
  }
}

/*------------------2. Volunteering Info Section----*/
.volunteering-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 1rem;
  color: $secondary-color;

  & p {
    margin-bottom: 1rem;
    color: $grey;
  }
}

.volunteering-content {
  @media (min-width: 700px) {
    padding-left: 2rem;
  }
}
